body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: #333333;
}

.profile {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 50vw;  /* Adjusted to take up half the viewport width */
  height: 85vh;
  background-color: #000000;  /* Blend with body background color */
}

.profile img {
  width: 100%;
  height: auto; /* Adjusted to scale proportionally with width */
  object-fit: cover;
}

.content {
  margin-left: 50vw;  /* Adjusted to match .profile width */
  padding: 20px;
}

.content img {
  width: calc(1000px); /* calculates the width for 3 images per row, adjust as needed */
  height: 50;
}

#contact {
    text-align: right;  /* align text to the right */
    margin-right: 300px;  /* space from the right edge of content area */
    align-self: center;  /* center vertically within content area */
}

header {
  margin-bottom: 50px;
}

h1, h2, h3 {
  color: #333;
}

h1 {
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 1em;
}

main {
  margin: 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* spacing between images */
}

.project-images img {
  width: calc(300px); /* calculates the width for 3 images per row, adjust as needed */
  height: auto;
}

footer#contact {
  text-align: center;  /* Center align text */
  padding: 100px;
  background-color: #000000;  /* Blend with body background color */
  color: #333;
  margin-left: 70vw;
}