* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  padding: 10;
  box-sizing: border-box;
  background-color: #000000;
  color:#bdbe6c;
}

.profile {
  position: fixed;
  left: 0;
  top: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 180mm;  /* Adjusted to take up half the viewport width */
  height: 65vh;
}
.profile img {
  width: 300px;
  height: auto; /* Adjusted to scale proportionally with width */
  object-fit: cover;
}

.profile ul{
  list-style: none;
  font-weight: 900px;
}

.profile li{
  text-align: center;
}
.content {
  margin-left: 700px;  /* Adjusted to match .profile width */
  padding: 80px;
}

.content img {
  width: calc(500px); /* calculates the width for 3 images per row, adjust as needed */
  height: 30%;
}


.vertical-line {
  position: relative;
  display: inline-block;
  height: 2400px;  /* adjust as necessary */
  width: 3px;  /* make the div thin */
  background-color: #dc5f23;  /* change color as desired */
  position: absolute;
  top: 10px;
  left: 650px;
}

a{
  color: #efbf5a;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

header {
  margin-bottom: 50px;
}

h1, h2, h3 {
  color: #dc5f23;
}

h1 {
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 1em;
}



main {
  margin: -100px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  position: fixed;
  padding: -50px;
  border-radius: px;
  background-color: #2a1e35;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* spacing between images */
}

.project-images img {
  width: calc(300px); /* calculates the width for 3 images per row, adjust as needed */
  height: auto;
}

footer#contact {
  text-align: left;  /* Center align text */
  padding: 200px;
  background-color: #000000;  /* Blend with body background color */
  color: #333;
  margin-left: 700px;
}